#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// レイヤー 3 は FN、レイヤー 4 はセミコロン長押しのスクロール専用。

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        // J + K: 左クリック
        left_click {
            bindings = <&mkp LCLK>;
            key-positions = <19 20>;
            layers = <0 4>;
            require-prior-idle-ms = <100>;
        };

        // K + L: 右クリック
        right_click {
            bindings = <&mkp RCLK>;
            key-positions = <20 21>;
            layers = <0 4>;
            require-prior-idle-ms = <100>;
        };

        // J + K + L: 中クリック
        middle_click {
            bindings = <&mkp MCLK>;
            key-positions = <19 20 21>;
            layers = <0 4>;
            require-prior-idle-ms = <100>;
        };
    };

    macros {
        // Alt+Space を 1 回だけタップする (押しっぱなしにしても繰り返さない)
        alt_space: alt_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LA(SPACE)>;
        };

        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC        &kp Q   &kp W      &kp E      &kp R           &kp T                                            &kp Y       &kp U         &kp I       &kp O     &kp P       &kp BSPC
&mt LCTRL TAB  &kp A   &kp S      &kp D      &kp F           &kp G                                            &kp H       &kp J         &kp K       &kp L     &lt 4 SEMI  &kp RET
&kp LSHIFT     &kp Z   &kp X      &kp C      &kp V           &kp B                                            &kp N       &kp M         &kp COMMA   &kp DOT   &kp SLASH   &lt 3 SQT
               &alt_space   &kp LALT   &kp LGUI   &lt 1 SPACE     &kp SPACE   &kp BSPC       &kp RET     &lt 2 SPACE                       &kp RGUI    &kp RALT
            >;
        };


        layer_1 {
            bindings = <
&trans   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                        &kp N6     &kp N7     &kp N8   &kp N9      &kp N0   &kp BSPC
&trans   &none    &none    &none    &none    &none                         &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &none    &none
&trans   &none    &none    &none    &none    &none                         &none      &none      &none    &none       &none    &none
         &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans                        &trans      &trans
            >;
        };


        sym_layer {
            bindings = <
&trans   &kp EXCL   &kp AT   &kp HASH   &kp DLLR   &kp PRCNT                     &kp CARET   &kp AMPS   &kp ASTRK   &kp LPAR   &kp RPAR   &none
&trans   &none      &none    &none      &none      &none                         &kp MINUS   &kp EQUAL  &kp BSLH    &kp LBRC   &kp RBRC   &kp GRAVE
&trans   &none      &none    &none      &none      &none                         &kp UNDER   &kp PLUS   &kp PIPE    &kp LBKT   &kp RBKT   &kp TILDE
         &trans     &trans   &trans     &trans     &trans   &trans      &trans   &trans                             &trans     &trans
            >;
        };


        fn_layer {
            bindings = <
&bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4                          &bootloader   &studio_unlock   &none      &kp SLCK   &kp PAUSE_BREAK   &none
&trans       &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE     &none          &none                                 &none         &none            &none      &kp UP     &none             &none
&trans       &none          &none          &none          &none          &bootloader                           &none         &none            &kp LEFT   &kp DOWN   &kp RIGHT         &none
             &trans         &trans         &trans         &trans         &trans           &trans      &trans   &trans                                    &trans     &trans
            >;
        };


        scroll_layer {
            bindings = <
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
         &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans                     &trans   &trans
            >;
        };


        layer_5 {
            bindings = <
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
         &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans                     &trans   &trans
            >;
        };


        layer_6 {
            bindings = <
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans   &trans   &trans   &trans
         &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans                     &trans   &trans
            >;
        };
    };
};
